.box {
  .listitem {
    padding: @content-padding;
    background-color: #fff;
  }
  .total {
    display: flex;
    padding-top: 10px;
    .spaceitem {
      width: 56%;
    }
    .totalitem {
      width: 15%;
    }
    .spaceitem2 {
      width: 85%;
    }
    .totalitem2 {
      width: 14%;
    }
  }
}
