.canvas {
  width: 100%;
  height: 100%;
  img {
    display: none;
  }

  :global(.nodeSuccess .djs-visual > :nth-child(1)) {
    stroke: #52c41a !important;
    stroke-width: 3px;
  }
  :global(.nodeProcing .djs-visual > :nth-child(1)) {
    stroke: #1890ff !important;
    stroke-width: 3px;
  }
  :global(.nodeError .djs-visual > :nth-child(1)) {
    stroke: #ff4d4f !important;
    stroke-width: 3px;
  }
}
