.contanier {
  height: 100%;
  background-color: @back-color;
  .header {
    background-color: @content-color;
  }
  .sider {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 12px auto;
    .leftmenu {
      margin-right: 8px;
      background-color: @content-color;
    }

    .ad {
      height: 66px;
      margin-bottom: 8px;
      .contentStyle {
        height: 66px;
        color: @content-color;
        line-height: 66px;
        text-align: center;
        background: #364d79;
      }
    }
  }
}
